.boxMobile, .boxDesktop {

    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin: 20px;
    background-color: #ff92ef96;
    width: 130px;
    padding-bottom: 5px;

}

.boxDesktop {

    width: 225px;
    margin: 12px;

}

.img {

    width: 100px;
    padding: 5px;
    border-radius: 50%;

}

.name {

    
    font-size: 12px;
    margin: 0;
    padding: 0 3px;

}

.btn{

    font-size: 14px;

}

.button {
    
    margin: 1px 0 0 2px;
    margin-top: 4px;

}

.description {

    background-color: #45D5CD;
    font-size: 11px;
    margin: 5px 0 7px 0;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.descriptionVisible {

    display: flex;

}

.descriptionHide {

    display: none;

}

.select {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.selector, .price, .size {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 95px;
    padding-left: 2.5px ;
    margin: 2px 5px;
    background-color: #6C00D8;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-size: 8px;

}

.selector, .button, .btn {

    cursor: pointer;

} 

.price {

    width: 70px;
    background-color: #000000;

}

.finalSelector {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

@media (max-width: 768px) {

    .boxMobile {

        display: flex;

    }

    .boxDesktop {

        display: none;

    }

}

@media (min-width: 769px) {

    .boxMobile {

        display: none;

    }

    .boxDesktop {

        display: flex;

    }

    .img {

        width: 80%;
        border-radius: 50px;
        padding: 15px 0;

    }

    .name {

        padding: 0.5em 0 1em 0;
        font-size: 22px;

    }

    .btn{

        font-size: 24px;

    }

    .description p {

        background-color: #45D5CD;
        font-size: 17px;
        padding: 0 10px;

    }

    .selector {

        
        width: 155px;
        height: 30px;
        font-size: 13px;

    }

    .price, .size {

        width: 120px;
        height: 30px;
        font-size: 13px;

    }

}